body {
    font-family: "Arial";
        background-image: url("https://www.smu.edu/-/media/Site/Dedman/Departments/Chemistry/NewChemPix/istock/chemistry-notes.jpg?la=en");
        background-size: cover;
}
table, tr, span {
    text-align: center;
    vertical-align: center;
}
.elements {
    font-size: 0.9vw;
}

.left {
    text-align: left;
    font-size: 0.5vw;
}
.right {
  text-align: right;
  font-size: 0.5vw;
}
.grey {
    background-color: #b2bec3;
}
.lightGreen {
    background-color: #9AECDB;
}
.orange {
    background-color: #f19066;
}
.pink {
    background-color: #f8a5c2;
}
.deepPink {
    background-color: #ea8685;
}
.blue {
    background-color: #778beb;
}
.red {
    background-color: #ff5252;
}
.yellow {
    background-color: #ffeaa7;
}
.cyan {
    background-color: #00cec9;
}
.green {
    background-color: #78e08f;
}
.purple {
    background-color: #D6A2E8;
}
.title {
    text-align: center;
    font-family: Arial;
    font-style: italic;
    color: white;
    background-color:#596275;
}